
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

# Removing lock files
*.lock
package-lock.json

# Remove node_modules, your bandwitdh will love you ! :D
node_modules
